.button {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  border: solid #5f2eea;
  border-radius: 10px;
  color: #ffff;
  height: 34px;
  width: 100%;
}

.button:hover,
.button.hover {
  background-color: hotpink;
  border: solid #5f2eea;
}
